# Ignorar dependencias de Node.js
node_modules/
package-lock.json

# Ignorar archivos de entorno y configuración local
.env
.DS_Store

# Ignorar archivos de bases de datos SQLite (si usas Sequelize con SQLite)
*.sqlite
*.sqlite3

# Ignorar logs y archivos generados por el sistema
logs/
*.log
